body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.par1{
    font-size: 20px;
    font-family: "Arial Black", Arial, sans-serif;
}

.par2{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-style: italic;
}

.par3{
    text-indent: 40px;
}

.par4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.par5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    text-align: center;
}

.par6{
    font-family: "Comic Sans MS";
    font-style: italic;
    font-size: 1.3em;
}